
.tile{
 stroke:black;
    fill:white;
}

h1{
    font-family: "Open Sans";
    text-align:center;
    margin-top:1em;
}
#description{
    font-size: x-large;
    text-align: center;
}

#game-label{
    font-weight: bold;
}

svg{
    margin-left:5em;
}

#legend{
    stroke: black;
    stroke-width: 1px;
}

#tooltip{
    position: absolute;
    padding:1em;
    margin-left:22em;
}